.akbar {
    width: 100px;
    height: 100px;
    background:blue;
    border-radius: 50%;

}
.asgar{
    width: 100px;
    height: 100px;
    background:rgb(67, 95, 67);
    border-radius: 25px;
    margin: 10px;
}