.akbar {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    background:blue;
    border-radius: 50%;
    color: white;


}
.asgar{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    background:rgb(67, 95, 67);
    border-radius: 25px;
    color: white;

}